@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');
$fontFamily: 'Varela Round', sans-serif;
$fontTitleFamily: 'Varela Round', sans-serif;

$minWidth: 320px;
$maxWidth: 420px;

$primaryColor: #447bcd;
$secondaryColor: #447bcd;
$titleColor: white;
$subTitleColor: white;
$fontColor: white;

$htmlBg: darken($primaryColor, 10%) !important;
$cardCanvasBg: $secondaryColor;

$widgetBoxBg: #eaeaea;
$widgetHeadBg: #f5f5f5;
$widgetTitleBg: $widgetHeadBg;
$widgetTitleColor: #447bcd;
$widgetSubTitleColor: #447bcd;
$widgetBodyBg: $widgetTitleBg;
$widgetBodyColor: $primaryColor;

$widgetMinWidth: $minWidth;
$widgetMaxWidth: $widgetMinWidth;
$widgetBtnBg: lighten($primaryColor, 20%);
$widgetBtnBgDark: darken($primaryColor, 20%);
$widgetBtnColor: white;
$widgetBtnHoverBg: darken($primaryColor, 20%);
$widgetBtnHoverColor: $widgetBtnColor;
$widgetBtnHoverBorderColor: transparent;

$xxs: "only screen and (max-width: 350px)";
$bxs: "only screen and (min-width: 350px)";
$xs: "only screen and (max-width: 575px)";
$sm: "only screen and (min-width: 576px)";
$md: "only screen and (min-width: 768px)";
$lg: "only screen and (min-width: 992px)";
$xl: "only screen and (min-width: 1200px)";

$csml: "only screen and (max-width: 420px)";
$cmax: "only screen and (min-width: 421px)";
$margin: "only screen and (min-width: 510px)";

@mixin disableHightlight() {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -o-user-select: none;
  -moz-user-select: none;
}
@mixin widgetBox() {
  box-sizing: border-box;
  width: 100%;
  max-width: $widgetMaxWidth;
  z-index: 300;
  margin: 40px auto;
  padding: 8px;
  text-align: center;
  background-color: $widgetBoxBg;
}
@mixin widgetControlButton() {
  @include disableHightlight();
  border: 0;

  padding: 8px;
  border-radius: 32px;
  font-size: 16px;
  text-align: center;
  width: 100%;

  background-color: $widgetBtnBg;
  color: $widgetBtnColor;
  text-transform: uppercase;
  outline: none;

  &:hover, &:active {
    background-color: $widgetBtnHoverBg;
    color: $widgetBtnHoverColor;
    border-color: $widgetBtnHoverBorderColor;
  }
}

@mixin widgetHead() {
  background-color: $widgetHeadBg;
}
@mixin widgetTitle() {
  text-align: center;
  font-size: 22px;
  background-color: $widgetTitleBg;
  color: $widgetTitleColor;
  padding-top: 8px;
  padding-bottom: 8px;
}
@mixin widgetBody() {
  color: $widgetBodyColor;
  background-color: $widgetBodyBg;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
