$categoryBoxFontSize: 20px;
$categoryNameColor: $widgetTitleColor;
$categoryDescriptionColor: #666;
$categoryDescriptionFontSize: 14px;
$categoryToggleFontSize: 12px;
$categoryBoxBorder: $secondaryColor;
$floatingCategoryNameBg: $widgetBodyBg;
$floatingCategoryNameColor: $widgetTitleColor;
$wishlistEmptyColor: $primaryColor;
$wishItemNameColor: $primaryColor;
$wishItemReservedNameColor: $secondaryColor;

$buyOnlineLinkColor: #aa0000;
$buyOnlineFontSize: 14px;

.invwidget.wishlist {
  .wishlist-box {
    @include widgetBox();
    max-width: $maxWidth;
    padding: 0;
    .wishlist-head {
      @include widgetHead();
      .wishlist-title {
        @include widgetTitle();
      }
      .wishlist-showlist {
        @include widgetControlButton();
      }
    }
    .wishlist-body {
      @include widgetBody();
    } // .wishlist-body
  } // .wishlist-box
} // .invwidget.wishlist

.wishlist-category {
  font-size: $categoryBoxFontSize;
  border-top: 2px solid $categoryBoxBorder;
  text-align: left;
  padding-top: 16px;
  .wishlist-floating-category-box {
    background-color: $floatingCategoryNameBg;
    color: $floatingCategoryNameColor;
    position: fixed;
    padding: 8px 16px;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: $maxWidth;
    z-index: 10;

    @media #{$xxs} {
      left: 0;
      right: 0;
    }
    @media #{$sm} {
      left: 50%;
      right: unset;
      transform: translatex(-50%);
    }
  }
  .wishlist-category-header {
    padding: 8px;
    .wishlist-category-name {
      color: $categoryNameColor;
    }
    .wishlist-category-description {
      color: $categoryDescriptionColor;
      font-size: $categoryDescriptionFontSize;
    }
    .wishlist-category-controls {
      text-align: right;
      padding-right: 8px;
      .wishlist-category-toggle {
        @include widgetControlButton();
        text-transform: capitalize;
        font-size: $categoryToggleFontSize;
        width: auto;
        &.toggle-off {
          padding: 8px 12px;
        }
      }
    }
  }
}

.wishlist-empty {
  color: $wishlistEmptyColor;
}
.wishitem {
  padding: 8px;
  margin-bottom: 32px;
  .wishitem-card {
    position: relative;
    background-color: white;
    box-shadow: 0 0 10px gray;
    border-radius: 4px;

    .wishitem-card-screen {
      visibility: collapse;
    }
    .wishitem-image {
      border-bottom: 1px solid lightgray;
      img {
        width: 100%;
      }
    }
    .wishitem-body {
      padding: 4px;
      .wishitem-name {
        a {
          color: $wishItemNameColor;
          text-decoration: none;
          &:hover, &:focus {
            text-decoration: underline;
          }
        }
      }
      .wishitem-link {
        overflow: hidden;
        font-size: 10px;
      }
      .wishitem-controls {
        padding: 16px;
        .wishitem-reserve {
          @include widgetControlButton();
          width: 100%;
        }
      }
    }
  }
  
  &.reserved {
    .wishitem-card {
      .wishitem-body {
        .wishitem-controls {
          .wishitem-reserved-box {
            display: flex;
            .wishitem-reserved-label {
              flex: 1;
              text-transform: uppercase;
              color: $wishItemReservedNameColor;
              padding: 8px 0;
              font-size: 0.8em;
              letter-spacing: 8px;
              background-color: transparent;
            }
            .wishitem-reserved-release {
              button {
                @include widgetControlButton();
                font-size: 0.8em;
                padding: 8px;
              }
            }
          }
          .wishitem-buy-box {
            margin-top: 16px;
            a {
              display: block;
              width: auto;
              padding: 0;
              color: $buyOnlineLinkColor;
              font-size: $buyOnlineFontSize;
              text-decoration: none;
              text-transform: initial;
            }
          }
        }
      }
    }

    &.locked {
      .wishitem-card-screen {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.2);
        visibility: visible;
      }
    }
  } // .wishitem.reserved
} // .wishitem

.wishlist-reservations-list {
  padding: 8px;
  .wishlist-reservations-title {
    @include widgetTitle();
    text-align: left;
    padding-bottom: 8px;
  }
}
.wishitem-reserved-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "wishitem-reserved-image wishitem-reserved-name wishitem-reserved-name"
    "wishitem-reserved-image wishitem-reserved-category wishitem-reserved-category"
    "wishitem-reserved-image wishitem-reserved-controls wishitem-reserved-controls"
  ; //
  font-size: 0.9em;
  margin-top: 8px;

  .wishitem-reserved-image {
    grid-area: wishitem-reserved-image;
    img {
      display: block;
      margin: 0;
      width: 100%;
    }
  }
  .wishitem-reserved-name {
    grid-area: wishitem-reserved-name;
    padding: 8px;
    text-align: left;
  }
  .wishitem-reserved-category {
    grid-area: wishitem-reserved-category;
    padding: 8px;
    text-align: left;
    color: $categoryNameColor;
  }
  .wishitem-reserved-controls {
    grid-area: wishitem-reserved-controls;
    padding: 8px;
    text-align: left;
    button {
      @include widgetControlButton();
      font-size: 0.9em;
    }
  }
}