$rsvpSpinnerColor: $secondaryColor;
$rsvpResponseColor: $primaryColor;

.invwidget.rsvp {
  .rsvp-box {
    @include widgetBox();
    padding: 0;
    .rsvp-head {
      @include widgetHead();
      .rsvp-title {
        @include widgetTitle();
        position: relative;

        .rsvp-spinner {
          position: absolute;
          right: 8px;
          top: -2px;
          padding: 0 !important;
          $rsvpSpinnerSize: 24px;
          width: $rsvpSpinnerSize;
          height: $rsvpSpinnerSize;
          font-size: $rsvpSpinnerSize;
          color: $rsvpSpinnerColor;
        }
      }
    }
    .rsvp-body {
      @include widgetBody();
      .rsvp-options {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
          "rsvpYes rsvpNo";

        .rsvp-response {
          text-align: center;
          padding: 8px;
          margin-bottom: 8px;
          color: $rsvpResponseColor;
          font-size: 0.9em;
          border: none;
          cursor: pointer;

          .rsvp-sprite {
            content: '';
            background: transparent url("rsvp-sprite.png");
            background-size: auto 100px;
            background-repeat: no-repeat;
            width: 100px;
            height: 100px;
            margin: 0 auto;
            margin-bottom: 8px;
          }

          &.yes {
            box-sizing: border-box;
            grid-area: rsvpYes;
            .rsvp-sprite {
              background-position-x: 0px;
            }
          }
          &.no {
            box-sizing: border-box;
            grid-area: rsvpNo;
            margin: 0 auto;
            .rsvp-sprite {
              width: 90px;
              background-position-x: -100px;
            }
          }
        } // .rsvp-response

        &.withSelection {
          .rsvp-response {
            &.yes, &.no {
              .rsvp-sprite {
                opacity: 0.2;
              }
            }
          }
          &.when-yes .rsvp-response.yes .rsvp-sprite {
            opacity: 1;
          }
          &.when-no .rsvp-response.no .rsvp-sprite {
            opacity: 1;
          }
        }
      } // .rsvp-options
    } // .rsvp-body
  } // .rsvp-box
} // .widget.rsvp
