@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');
$fontFamily: 'Varela Round', sans-serif;
$fontTitleFamily: 'Varela Round', sans-serif;

$primaryColor: #447bcd;
$secondaryColor: #f5b338;
$titleColor: white;
$subTitleColor: white;
$fontColor: white;

$htmlBg: darken($primaryColor, 10%) !important;

$widgetTitleColor: #447bcd;
$widgetSubTitleColor: #447bcd;

$widgetBodyBg: #f5f5f5;
$widgetBoxBg: #eaeaea;

$widgetBtnBg: lighten($primaryColor, 20%);

$minWidth: 320px;
$maxWidth: 420px;
$widgetMinWidth: $minWidth;
$widgetMaxWidth: $maxWidth;

$myReservationsBtnBg: $primaryColor;
$myReservationsBg: $secondaryColor;

$xxs: "only screen and (max-width: 350px)";
$bxs: "only screen and (min-width: 350px)";
$xs: "only screen and (max-width: 575px)";
$sm: "only screen and (min-width: 576px)";
$md: "only screen and (min-width: 768px)";
$lg: "only screen and (min-width: 992px)";
$xl: "only screen and (min-width: 1200px)";

$csml: "only screen and (max-width: 420px)";
$cmax: "only screen and (min-width: 421px)";
$margin: "only screen and (min-width: 510px)";

