<div class="cardCanvas" id="CardCanvas">
  <div class="introContainer" id="Intro">
    <div class="guestName">{{ guest.name }}</div>
    <div class="intro">{{ event.intro | raw }}</div>
    <div class="signature">{{ event.signature }}</div>
  </div>

  <div class="dateAndLocation" id="DateAndLocation">
    <div class="location" id="Location">{{ event.location | raw }}</div>
    <div class="dateTime">
      <div class="day" id="Day">{{ event.date.day }}</div>
      <div class="month" id="Month">{{ event.date.monthName3 }}</div>
      <div class="time" id="Time">{{ event.startTm.stamp }}..{{ event.endTm.stamp }}</div>
    </div>
  </div>

  {% if event.notes is not empty %}
    <div
      class="notesContainer"
      id="NotesContainer"
    ><div class="notes">{{ event.notes | raw }}</div></div>
  {% endif %}
</div>

<script>
  // We can pass some of the data to our scripts.js like this.
  // Check `scripts.js` to see where this value is used.
  // You can remove all this demo code in your final code.
  window.I2GoCardData = window.I2GoCardData || {
    monthName: '{{ event.date.monthName }}',
  };
</script>
