<style>
  html, body {
    font-size: 14px;
  }
  table.cards {
    width: 100%;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    font-family: sans-serif;
  }
  table.cards tr td.card {
    padding: 4px;
    border: 2px dashed black;
    width: 6cm;
    max-width: 6cm;
    height: 8cm;
    min-height: 8cm;

    background: transparent url('{{ themeRoot }}/thankyou-card.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image-resize: 5;
  }
</style>
{% set col = 0 %}
{% set maxCols = 3 %}
<table class="cards">
  {% for card in cards %}
    {% if col == 0 %}
      <tr>
    {% endif %}
    <td class="card">
      {{ text }}
    </td>
    {% set col = col+1 %}
    {% if col == maxCols %}
      {% set col = 0 %}
      </tr>
    {% endif %}
  {% endfor %}
  {% if col < maxCols %}
    {% for x in range(col, maxCols) %}
      <td>&nbsp;</td>
    {% endfor %}
    </tr>
  {% endif %}
</table>