<style>
  html, body {
    font-size: 14px;
  }
  table.tags {
    width: 100%;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    font-family: sans-serif;
  }
  table.tags tr td.tag {
    background: transparent url('{{ themeRoot }}/tag-color.png');
    background-repeat: no-repeat;
    background-image-resize: 1;
    border: 2px dashed black;
    width: 6cm;
    max-width: 6cm;
    height: 3cm;
    min-height: 3cm;
  }
  table.tags tr td.tag table.container tr td.qrcode-container {
    padding: 0;
    vertical-align: top;
  }
  img.qrcode {
    height: 12mm;
    display: block;
    border: 4px solid white;
    margin: 0;
    padding: 0;
  }
  table.tags tr td.tag table.container tr td.content {
    vertical-align: top;
    padding: 4px;
    color: black;
    padding-right: 1cm;
  }
  table.tags tr td.tag table.container tr td.url {
    background-color: white;
    color: black;
    font-family: monospace;
    font-size: 10px;
    padding: 4px;
  }
</style>
{% set col = 0 %}
{% set maxCols = 3 %}
<table class="tags">
  {% for tag in tags %}
    {% if col == 0 %}
      <tr>
    {% endif %}
      <td class="tag">
        <table class="container">
          <tr>
            <td class="qrcode-container">
              <img class="qrcode" src="{{ tag.tag.qrCodeUrl }}" />
            </td>
            <td class="content">
              {% if tag.guest and tag.guest.name %}
                <strong>{{ tag.guest.name }}</strong>,&nbsp;
              {% endif %}
              {{ text }}
              <strong>{{ tag.invitation.signature }}</strong>
            </td>
          </tr>
          <tr>
            <td class="url" colspan="2">{{ tag.tag.invitationUrl }}</td>
          </tr>
        </table>
      </td>
      {% set col = col+1 %}
    {% if col == maxCols %}
      {% set col = 0 %}
      </tr>
    {% endif %}
  {% endfor %}
  {% if col < maxCols %}
    {% for x in range(col, maxCols) %}
      <td>&nbsp;</td>
    {% endfor %}
    </tr>
  {% endif %}
</table>