<!-- RSVP -->
{% if widgets.rsvp %}
  <div class="invwidget rsvp">
    <form id="__rsvp__" class="rsvp-box">
      <div class="rsvp-head">
        <div class="rsvp-title">
          <div data-role="spinner" class="rsvp-spinner"></div>
          {{widgets.rsvp.question}}
        </div>
      </div>
      <div class="rsvp-body">
        <div class="rsvp-options {% if widgets.rsvp.response %} withSelection when-{{ widgets.rsvp.response }}{% endif %}">
          {% for option in widgets.rsvp.options %}
            <div
              class="rsvp-response {{ option.key }} {% if option.key == widgets.rsvp.response %} selected{% endif %}"
              data-action="rsvp-response"
            >
              <input type="radio" name="rsvp" value="{{ option.key }}" style="display:none;" />
              <div class="rsvp-sprite"></div>
              <span class="rsvp-label">{{ option.label }}</span>
            </div>
          {% endfor %}
        </div>
      </div>
    </form>
  </div>
{% endif %}
<!-- RSVP end -->
