@import './_inc.styles/common.inc.scss';
@import './_inc.styles/styles-rsvp.inc.scss';
@import './_inc.styles/styles-wishlist.inc.scss';
/**
 * Include spine-player.inc.scss to hide Spine Player's controls.
 */
// @import './_inc.styles/spine-player.inc.scss';

* {
  box-sizing: border-box;
}

html, body {
  background-color: $htmlBg;
  font-family: $fontFamily !important;
  font-size: 18px !important;
  color: $fontColor !important;
}
body {
  margin:0;
  overflow-x: hidden;
}

#CardCanvas {
  position: relative;
  width: 100%;
  max-width: $maxWidth;
  min-width: $minWidth;
  background-color: $cardCanvasBg;
  margin: 0 auto;
  box-shadow: 0 0 20px black;
  @media #{$cmax} {
    border: 4px solid white;
  }
  @media #{$margin} {
    margin-top: 32px;
  }
}

.introContainer {
  padding: 16px;
}

.dateAndLocation {
  position: relative;
  padding: 16px;
  padding-top: 0;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "location"
    "dateTime"
  ; //

  .dummy {
    grid-area: dummy;
  }
  .location {
    grid-area: location;
    z-index: 10;
    text-align: right;
    font-size: 20px;
    padding-bottom: 8px;
  }
  .dateTime {
    grid-area: dateTime;
    z-index: 10;
    text-align: right;
    display: block;
    width: 100%;
    padding-bottom: 8px;
    .day, .month, .time {
      display: block;
      font-family: $fontTitleFamily;
      text-align: right;
      @media #{$cmax} {
        text-align: right;
      }
    }
    .day, .month {
      height: 1em;
      font-size: 40px;
      @media #{$cmax} {
        font-size: 48px;
      }
    }
    .time {
      width: 100%;
      font-size: 26px;
      color: $fontTitleFamily;
      padding-top: 8px;
    }
  }
}

.notesContainer {
  z-index: 10;
  font-size: 16px;
  padding: 16px;  
}

.guestName, .signature, .date {
  font-family: $fontTitleFamily;
  color: $titleColor;
  font-size: 26px;
}
.intro {
  font-size: 22px;
}
.signature {
  color: $subTitleColor;
}

ul.attributions {
  background-color: gray;
  margin-bottom: 0;
  li {
    padding: 8px 0;
    a {
      color: white;
    }
  }
}