@import './_inc.styles/common.inc.scss';
/**
 * Include spine-player.inc.scss to hide Spine Player's controls.
 */
// @import './_inc.styles/spine-player.inc.scss';

$bp1: "only screen and (max-width: 400px)";
$bp1b: "only screen and (min-width: 400px)";
$bp2: "only screen and (min-width: 450px)";
$bp3: "only screen and (min-width: 650px)";
$bp4: "only screen and (min-width: 800px)";
$bp5: "only screen and (min-width: 1000px)";

* {
  box-sizing: border-box;
}
html, body {
  background-color: $htmlBg;
  font-family: $fontFamily !important;
  font-size: 18px !important;
  color: $fontColor !important;
  height: 100%;
}
body {
  margin:0;
  overflow-x: hidden;
}

h1 {
  display: block;
  width: 100%;
  text-align: center;
  margin: 0;
  margin-bottom: 16px;
}

#WishlistCanvas {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "myReservations"
    "wishlist"
    "notes"
  ; //

  @media #{$bp3} {
    grid-template-columns: auto 320px;
    grid-template-areas:
      "wishlist myReservations"
      "notes notes"
    ; //
  }
}

#MyReservations {
  grid-area: myReservations;
  background-color: $myReservationsBg;
  width: 100%;

  .sticky {
    margin: 8px;
    margin-top: 0;
  }

  .reservedItem {
    margin-bottom: 16px;
  }

  .title {
    display: block;
    color: white;
    margin-bottom: 16px;
    padding-top: 8px;
    font-size: 1.2em;
  }
  .card.reserved {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "reservedImage"
      "reservedInfo"
    ; //

    @media #{$bp1b} {
      grid-template-columns: 1fr 2fr;
      grid-template-areas:
        "reservedImage reservedInfo"
        "reservedImage reservedInfo"
        "reservedImage reservedInfo"
      ; //  
    }

    .image {
      grid-area: reservedImage;
      display: block;
      margin: 0 auto;
      max-width: $maxWidth;
      img {
        width: 100%;
      }
    }
    .info {
      grid-area: reservedInfo;
      text-align: top;
      padding: 0 8px;
      .controls {
        padding: 8px;
        button {
          background-color: $myReservationsBtnBg;
          color: white;
          border-radius: 16px;
          border: none;
          display: block;
          width: 100%;
          padding: 4px 8px;
          outline: none;
          cursor: pointer;
        }
      }  
    }
  }
}

#Wishlist {
  grid-area: wishlist;
  padding: 16px;

  .categoryGroup {
    background-color: $widgetBoxBg;
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
  }

  .categoryTitle {
    display: block;
    text-align: center;
    margin: 0;
    padding: 16px 0;
    color: $widgetTitleColor;
  }
  .categoryDescription {
    display: block;
    text-align: center;
    margin: 0;
    padding: 8px;
    color: $widgetTitleColor;
    font-size: 0.85em;
  }

  .categoryItems {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 32px;
    background-color: $widgetBodyBg;
  
    .item {
      padding: 8px;

      @media #{$bp1} {
        width: 100%;
      }
      @media #{$bp2} {
        width: 50%;
      }
      @media #{$bp3} {
        width: 100%;
      }
      @media #{$bp4} {
        width: 50%;
      }
      @media #{$bp5} {
        width: 33.333333%;
      }

      &.reserved {
        .itemCard .card-screen {
          position: absolute;
          display: block;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: rgba(0, 0, 0, 0.2);
        }
      }

      .itemCard {
        position: relative;
        height: 100%;
        justify-content: space-between;
        box-sizing: border-box;
        background-color: white;
        box-shadow: 0px 0px 5px gray;

        .card-screen {
          display: none;
        }

        .item-image {
          img {
            display: block;
            width: 100%;
          }
        }
        .item-body {
          padding: 8px;
          .name {
            box-sizing: border-box;
            padding: 8px;
          }
          .categoryName {
            box-sizing: border-box;
            font-weight: 500;
            font-size: 0.85em;
            word-spacing: -6px;
            font-family: monospace;
            padding: 8px;
            // color: var(--mdc-theme-secondary);
            color: var(--color-complement-4);
          }
          .price {
            box-sizing: border-box;
            padding: 8px;
            text-align: right;
          }
          .controls {
            button {
              background-color: $widgetBtnBg;
              color: white;
              border-radius: 16px;
              border: none;
              display: block;
              width: 100%;
              padding: 4px 8px;
              outline: none;
              cursor: pointer;
            }

            .when-reserved {
              .label {
                display: block;
                color: red;
                text-align: center;
                text-transform: uppercase;
                letter-spacing: 1em;
              }
            }
          }
        }
      } // .itemCard
    } // .item
  } // .categoryItems
}

#NotesContainer {
  grid-area: notes;
  background-color: white;
  color: black;
  .notes {
    padding: 16px;
    font-size: 1.5em;
    display: block;
    text-align: left;
  }
}

ul.attributions {
  background-color: gray;
  margin-bottom: 0;
  li {
    padding: 8px 0;
    a {
      color: white;
    }
  }
}