<div class="wishlistCanvas" id="WishlistCanvas">
  <div class="myReservations" id="MyReservations">
    <div class="sticky">
      <div class="title">{{ vars.myReservations }}</div>
      {% if widgets.wishlist.myReservations|length == 0 %}
        <!-- placeholder -->
      {% else %}
        {% for reservedItem in widgets.wishlist.myReservations %}
          <form class="__wishitem__ reservedItem">
            <input
              name="wishItem"
              type="hidden"
              value="{{ reservedItem.uuid }}"
            />
            <div class="card reserved">
              <div class="image">
                <img
                  alt="{{ reservedItem.name }}"
                  src="{{ reservedItem.imageUrl }}"
                />
              </div>
              <div class="info">
                <div class="name">
                  <a
                    href="{{ reservedItem.url }}"
                    rel="noopener noreferrer"
                    target="_blank"
                  >{{ reservedItem.name }}</a>
                </div>
                {% if reservedItem.categoryUuid != 'none' %}
                  <div
                    class="category"
                  >@{{ reservedItem.categoryName }}</div>
                {% endif %}
                <div class="controls">
                  <button
                    data-action="release"
                    data-target="{{ reservedItem.uuid }}"
                    type="submit"
                  >{{ vars.release }}</button>
                </div>
              </div>
            </div>
          </form>
        {% endfor %}
      {% endif %}
    </div>
  </div>

  <div class="wishList" id="Wishlist">
    {% if widgets.wishlist.standaloneTitle is not empty %}
      <h1>{{ widgets.wishlist.standaloneTitle }}</h1>
    {% endif %}

    {% for cateogryId, aCategory in widgets.wishlist.items %}
      {% if aCategory.items|length > 0 or aCategory.description|length > 0 %}
        <div class="categoryGroup">
          <h2 class="categoryTitle">{{ aCategory.name }}</h2>
          {% if aCategory.description|length > 0 %}
            <div class="categoryDescription">{{ aCategory.description|raw }}</div>
          {% endif %}
          <div class="categoryItems">
            {% for anItem in aCategory.items %}
              <div
                class="item {% if anItem.isReserved %}reserved{% endif %} {% if anItem.isReservedByMe %}locked{% endif %}"
                data-categoryid="{{ categoryId }}"
              >
                {% if not anItem.isReserved %}
                  <form
                    class="__wishitem__ listItem"
                    data-categoryid="{{ categoryId }}"
                  >
                    <input
                      name="wishItem"
                      type="hidden"
                      value="{{ anItem.uuid }}"
                    />
                {% endif %}
                <div class="itemCard">
                  <div class="card-screen"></div>
                  <div class="item-image">
                    <img
                      alt="{{ anItem.name }}"
                      src="{{ anItem.imageUrl }}"
                    />
                  </div>
                  <div class="item-body">
                    <div class="name">
                      <a
                        href="{{ anItem.url }}"
                        rel="noopener noreferrer"
                        target="_blank"
                      >{{ anItem.name }}</a>
                    </div>
                    <div class="controls">
                      {% if anItem.isReserved %}
                        <div class="when-reserved">
                          <div class="label">{{ vars.reserved }}</div>
                        </div>
                      {% else %}
                        <button
                          class="item-reserve"
                          data-action="reserve"
                          data-target="{{ anItem.uuid }}"
                          type="submit"
                        >{{ vars.reserve }}</button>
                      {% endif %}
                    </div>
                    <div class="output"></div>
                  </div>
                </div>
              </div>
              {% if not anItem.isReserved %}
              </form>
              {% endif %}  
            {% endfor %}  
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
  {% if event.notes is not empty %}
  <div
    class="notesContainer"
    id="NotesContainer"
  ><div class="notes">{{ event.notes | raw }}</div></div>
  {% endif %}
</div>
